$myGrey: #3e3d3d;
$myYellow: rgb(231, 198, 12);


header {
    width: 100%;
    height: 100vh;
    background: url(../images/nav/window.jpg) no-repeat 50% 50%;
    background-size: cover;
  }

.logo {
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    z-index: 2;
}

nav {
    position: fixed;
    width: 100%;
}

nav ul {
    display: block;
    list-style: none;
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-top: 12px;
    padding-right: 36px;
    transition: 1s cubic-bezier(0, 0, 0.2, 1);
}

nav.black ul {
    background: rgba(62, 61, 61, 0.8);
}

nav.red ul {
  background: rgba(179, 57, 57, 0.721);
}

nav ul li {
    display: inline-block;
    padding: 0px 12px;
    
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

/* Highlight the current page */
.active {
  background-color: #4CAF50;
  color: white;
}

.menu-icon {
    width: 100%;
    background: $myGrey;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

.fa {
  font-size: 28px;
}


.dropdown {
  margin: 0;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown .dropbtn {
    font-size: 20px; 
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0; /* Important for vertical align on mobile phones */
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .menu a:hover, .dropdown:hover .dropbtn {
    color: rgb(231, 198, 12);
  }

  .dropdown-content a:hover {
    background-color: $myGrey;
  }
  .dropdown-content a:first-child:hover {
    background-color: $myYellow;
    color: $myGrey;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  @media screen and (max-width: 600px) {
    .menu a.icon {
      float: right;
      display: block;
    }

    .menu-icon:last-child {
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
    .menu.responsive {position: relative;}
    .menu.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .menu.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .menu.responsive .dropdown {float: none;}
    .menu.responsive .dropdown-content {position: relative;}
    .menu.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  


@media (max-width: 670px) {
    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul {
        display: none;
        background: $myGrey;
        padding: 0;
    }

    nav.black ul {
        background: $myGrey;
    }

    .showing {
        display: block;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 22px 0;
        text-align: center;
    }

    .menu-icon{
        display: block;

    }

    #close {
      display: none;
    }

    #open {
      display: inline-block;
      font-size: 16px;
    }

    .dropdown-content {
        position: unset;
    }

    .dropdown-content a {
        text-align: center;
        background-color: #949090;
        padding: 22px 0;
        font-weight: bold;
    }
    .dropdown-content a:last-child {
        color: white;
    }

}











