@import 'nav-styles/nav.scss';
@import 'char-styles/headings.scss';
 
html
  body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
  font-family: Helvetica, sans-serif
}

.content {
  width: 90%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}